{% extends "course_template.html" %}
{% block tabs %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                {% for year in all_years %}
                    <li class="nav-item">
                        <a class="nav-link {% if year.year == course.year %} active {% endif %}"
                           data-bs-toggle="tab" href="#{{ year.year }}" aria-expanded="false">
                            {{ year.year }}-{{ year.year + 1 }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
{% endblock %}

{% block beforeform %}
    {% for course in all_years %}
        <div class="tab-pane {% if course.year == current_year %} active {% endif %}"
             id="{{ course.year }}">
            <form class="form" action="{{ url_for('course.update_course_info') }}" method="post"
                  id="courseInfo">
                {% with page='course_info' %}
                    {% include 'course_info_template.html' %}
                {% endwith %}
            </form>
            <br>
            <h2 class="sub-header">Assistant(s) for this year ({{ dynamic_year }} - {{ dynamic_year + 1 }})</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Last name</th>
                    <th>First name</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2">No assistants assigned this year.</td>
                </tr>
                </tbody>
            </table>
            <div class="container-fluid">
                <h2 class="sub-header">History</h2>
                <hr>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="historyTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="assistants-tab" data-bs-toggle="tab" href="#assistants" role="tab"
                           aria-controls="assistants" aria-selected="true">Assistants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="evaluations-tab" data-bs-toggle="tab" href="#evaluations" role="tab"
                           aria-controls="evaluations" aria-selected="false">Evaluations</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Assistants Pane -->
                    <div class="tab-pane fade show active" id="assistants" role="tabpanel"
                         aria-labelledby="assistants-tab">
                        <table class="table table-hover mt-3">
                            <thead>
                            <tr>
                                <th>Last name</th>
                                <th>First name</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- Evaluations Pane -->
                    <div class="tab-pane fade show" id="evaluations" role="tabpanel" aria-labelledby="evaluations-tab">
                        <!-- Content for Evaluations -->
                        <br>
                        <p>Content for evaluations will go here.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block afterform %}

{% endblock %}

