{% extends "layout.html" %}
{% block pagetitle %}List of Courses{% endblock %}
{% block additionalpageheader %}
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
{% endblock %}
{% block pagecontent %}
    <div class="container">
        <br>
        <h2>List of Courses</h2>
        <hr>
        {% include 'filter.html' %}
        <div class="col-sm-12 d-flex">
            <button type="button" class="btn btn-outline-secondary btn-sm" id="checkAllBtn">Check All</button>
            <button type="button" class="btn btn-outline-secondary btn-sm" id="uncheckAllBtn">Uncheck All</button>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Teachers</th>
                <th>Organizations</th>
                <th>
                    <select class="form-select form-select-sm d-inline" id="yearSelect" name="yearSelect"
                            {% if session.is_admin == False %} disabled {% endif %}>
                        {% for config in configurations %}
                            <option value="{{ config.year }}" {% if config.year == current_year %}
                                    selected {% endif %}>
                                {{ config.year }}-{{ config.year + 1 }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="current_endpoint" id="current_endpoint" value="{{ url_for('course.courses', current_year=0) }}">
                </th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr class="course-item"
                    data-organizations="{{ course.organizations | map(attribute='id') | join(',') }}">
                    <td>
                        <a href="{{ url_for("course.course_info", course_id=course.id, current_year=current_year) }}">
                            {{ course.code }} - {{ course.title }}
                        </a>
                    </td>
                    <td>
                        {% for teacher in course.course_teacher %}
                            <span class="badge bg-primary">{{ teacher.user.name }} {{ teacher.user.first_name }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% for org in course.organizations %}
                            <span class="badge bg-primary">{{ org.name }}</span>
                        {% endfor %}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block additionalfooter %}
    <script>
        $(document).ready(function () {
            let params = {
                'current_endpoint': $('#current_endpoint').val(),
            };
            handleYearSelectChange(params);

            $('.badge-checkbox').change(function () {
                changeBadgeColorCheckbox($(this));
                filter("course");
            });

            // Check All button functionality
            $('#checkAllBtn').click(function () {
                $('.badge-checkbox').prop('checked', true).each(function () {
                    changeBadgeColorCheckbox($(this));
                });
                filter("course");
            });

            // Uncheck All button functionality
            $('#uncheckAllBtn').click(function () {
                $('.badge-checkbox').prop('checked', false).each(function () {
                    changeBadgeColorCheckbox($(this));
                });
                filter("course");
            });

        });
    </script>
{% endblock %}