<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ICTM Teaching</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}">My Profile</a>
                </li>
                <!---
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Users Lists
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('register') }}">New User</a></li>
            </ul>
        </li>
        --->
                {% if session.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('register') }}">New user</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('users') }}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('form_course') }}">New
                            course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('courses') }}">Courses</a>
                    </li>
                {% endif %}
            </ul>
            <div class="navbar-text ms-auto">
                Logged as <strong>{{ session.first_name }} {{ session.name }}</strong>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger ms-2">Logout</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <hr>
    <h2>List of Courses</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Organizations</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr onclick="window.location='/course/{{ course.id }}';" style="cursor:pointer;">
                <td>{{ course.code }}</td>
                <td>{{ course.title }}</td>
                <td>{{ code_organizations }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>