{% extends "layout.html" %}
{% block pagetitle %}Course informations{% endblock %}
{% block additionalpageheader %}
    <style>
        .badge a {
            color: black;
            text-decoration: none;
        }

        .badge a:hover {
            color: red;
        }
    </style>
{% endblock %}

{% block pagecontent %}
    <div class="row">
        <div class="col-sm-12">
            <br>
            <h1 class="page-header">{{ course.code }} - {{ course.title }}</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2 class="sub-header">Course informations</h2>
            <br>
        </div>
    </div>

    <div class="container-lg">
        <div class="tab-content">
            <form action="{{ url_for('course.add_duplicate_course') }}" method="post"
                  id="courseInfo">
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <dl>
                            <dt>Code</dt>
                            <dd>
                                <input type="text" class="form-control" name="code" id="code"
                                       placeholder="Code" value="{{ course.code }}">
                            </dd>
                            <dt>Title</dt>
                            <dd>
                                <input type="text" class="form-control" name="title" id="title"
                                       placeholder="Title"
                                       value="{{ course.title }}">
                            </dd>
                            <dt>Quadri</dt>
                            <dd>
                                <select class="form-select" id="quadri" name="quadri">
                                    {% for q in quadri %}
                                        {% if q == course.quadri %}
                                            <option value="{{ q }}" selected>{{ q }}</option>
                                        {% else %}
                                            <option value="{{ q }}">{{ q }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </dd>
                            <dt>Year</dt>
                            <dd>
                                <select class="form-select" id="year" name="year">
                                    {% for config in configurations %}
                                        <option value="{{ config.year }}" {% if config.year == course.year %}
                                                selected {% endif %}>{{ config.year }} - {{ config.year + 1 }}</option>
                                    {% endfor %}
                                </select>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <dl>
                            <dt>Language</dt>
                            <dd>
                                <select class="form-select" id="language" name="language">
                                    {% for code, name in language.items() %}
                                        <option value="{{ code }}" {% if course.language == code %}selected{% endif %}>
                                            {{ name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </dd>
                            <dt>Assign Teachers</dt>
                            <dd>
                                <select class="form-control assigned-teachers" id="assigned_teachers"
                                        name="assigned_teachers[]" multiple>
                                    {% for t in course.course_teacher %}
                                        <option value="{{ t.user_id }}"
                                                selected>{{ t.user.name }} {{ t.user.first_name }}</option>
                                    {% endfor %}
                                </select>
                            </dd>
                            <dt>Organizations code</dt>
                            <dd>
                                <select class="form-select" id="organization_code" name="organization_code">
                                    <option value="" disabled selected>Select an organization</option>
                                    {% for code in organizations_code %}
                                        <option value="{{ code.id }}">{{ code.name }}</option>
                                    {% endfor %}
                                </select>
                                <div id="selected-organizations">
                                    {%- for org in course.organizations -%}
                                        <div class="badge bg-primary" data-id="{{ org.id }}">
                                            {{ org.name }}&nbsp;<a href="#" class="remove-tag">&times;</a>
                                            <input type="hidden" name="organization_code[]" value="{{ org.id }}">
                                        </div>
                                    {%- endfor %}
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <dl>
                            <dt>Number of students</dt>
                            <dd>
                                <input type="text" class="form-control" name="nbr_students" id="nbr_students"
                                       placeholder="Number of students" value="{{ course.nbr_students }}">
                            </dd>
                            <dt>Number of teaching assistants</dt>
                            <dd>
                                <input type="text" class="form-control" name="nbr_teaching_assistants"
                                       id="nbr_teaching_assistants"
                                       placeholder="Number of teaching assistants"
                                       value="{{ course.nbr_teaching_assistants }}">
                            </dd>
                            <dt>Number of monitor students</dt>
                            <dd>
                                <input type="text" class="form-control" name="nbr_monitor_students"
                                       id="nbr_monitor_students"
                                       placeholder="Number of monitor students"
                                       value="{{ course.nbr_monitor_students }}">
                            </dd>
                        </dl>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit"><i
                                    class="glyphicon glyphicon-ok-sign"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block additionalfooter %}
    <script>
        $(document).ready(function () {
            $(document).on('change', '#organization_code', function () {
                var containerSelector = $('#selected-organizations', $(this).parent());
                console.log("Before Fun", containerSelector);
                addBadge($(this), containerSelector);
            });

            function formatTeacher(teacher) {
                return teacher.text;
            }

            $('.assigned-teachers').select2({
                placeholder: 'Search for a teacher',
                multiple: true,
                minimumInputLength: 1,
                width: '100%',
                ajax: {
                    url: "{{ url_for('course.search_teachers') }}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                templateResult: formatTeacher,
                templateSelection: formatTeacher,
                tags: false
            });
        });
    </script>
{% endblock %}