<b>Filter organizations</b>
<div class="row col-sm-12">
    <div class="col-sm-12 ">
        <!-- Badges for organizations -->
        <div class="mb-3">
            <br>
            {% for org in organizations_code %}
                <label>
                    <input type="checkbox" style="opacity: 0" class="badge-checkbox" data-id="{{ org.id }}"
                           checked>
                    <span class="badge bg-primary">{{ org.name }}</span>
                </label>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-sm-12 d-flex">
    <button type="button" class="btn btn-outline-secondary btn-sm" id="checkAllBtn">Check All</button>
    <button type="button" class="btn btn-outline-secondary btn-sm" id="uncheckAllBtn">Uncheck All</button>
</div>

<script>
    function setupBadgeCheckboxHandlers(filterType) {
        $(document).on('change', '.badge-checkbox', function () {
            changeBadgeColorCheckbox($(this));
            filter(filterType);
        });

        // Check All button functionality
        $(document).on('click', '#checkAllBtn', function () {
            $('.badge-checkbox').prop('checked', true).each(function () {
                changeBadgeColorCheckbox($(this));
            });
            filter(filterType);
        });

        // Uncheck All button functionality
        $(document).on('click', '#uncheckAllBtn', function () {
            $('.badge-checkbox').prop('checked', false).each(function () {
                changeBadgeColorCheckbox($(this));
            });
            filter(filterType);
        });
    }
</script>
