{% extends "layout.html" %}
{% block pagetitle %}Home Page{% endblock %}
{% block pagecontent %}
    <div class="toast-container top-0 start-50 translate-middle-x text-danger">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="toast" data-delay="5000">
                        <div class="toast-header">
                            <strong class="mr-auto text-{{ category }}">Notification</strong>
                        </div>
                        <div class="toast-body">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <h1>{{ session.first_name }} {{ session.name }}</h1>
{% endblock %}
{% block additionalfooter %}
    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>
{% endblock %}