<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %} | ICTM Teaching</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.min.css') }}">
    <link href="{{ url_for('static', filename='select2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fontawesome-6.5.2/css/all.min.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='select2.min.js') }}"></script>

    <style>
        .form-select {
            width: auto !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            var selectedYear;
            var currentYear = '{{ session.current_year }}';

            $('#yearSelect').change(function () {
                selectedYear = $(this).val();
                $('#selectedYearText').text(selectedYear);
                $('#confirmationModal').modal('show');
            });

            $('#confirmChange').click(function () {
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('config.update_current_year') }}",
                    data: {'selected_year': selectedYear},
                    success: function (response) {
                        alert('Year updated successfully.');
                    },
                    error: function (error) {
                        alert('Error updating the year.');
                        // Revert to the previously selected year in case of an error
                        $('#yearSelect').val(currentYear);
                    }
                });
                $('#confirmationModal').modal('hide');
            });
        });
    </script>
    {% block additionalpageheader %}{% endblock %}
</head>
<body>
{% if session.logged_in %}
    <div id="nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">ICTM Teaching</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user.profile') }}">My Profile</a>
                        </li>
                        {% if session.is_admin %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('user.register') }}">New
                                    user</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                   href="{{ url_for('user.users') }}">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                   href="{{ url_for('course.form_course') }}">New course</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('course.courses') }}">Courses</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="configDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Config
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="configDropdown">
                                    <li><a class="dropdown-item" href="{{ url_for('config.next_year') }}">Add New
                                        Year</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% block additionalnav %}{% endblock %}
                    </ul>
                    <div class="navbar-text ms-auto">
                        <select class="form-select form-select-sm d-inline" id="yearSelect" name="yearSelect"
                                {% if session.is_admin == False %} disabled {% endif %}>
                            {% for config in configurations %}
                                <option value="{{ config.year }}" {% if config.year == session.current_year %}
                                        selected {% endif %}>
                                    {{ config.year }}
                                </option>
                            {% endfor %}
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Logged as <strong>{{ session.first_name }} {{ session.name }}</strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger ms-2">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% endif %}

<!-- Confirmation Modal -->
<div id="confirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Year Change</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to change the year to <span id="selectedYearText"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmChange">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div id="content">
    {% block pagecontent %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}
</div>
</body>
</html>
