{% extends "layout.html" %}
{% block pagetitle %}Preferences{% endblock %}
{% block additionalpageheader %}
    <style>
        .move-icon {
            cursor: move;
        }

        .delete-icon {
            cursor: pointer;
            color: red;
        }
    </style>
{% endblock %}

{% block pagecontent %}
    {% include "toast_notification.html" %}
    <div class="container-fluid">
        <form id="preferencesForm" method="post">
            <br>
            <h2>The preferences of {{ researcher.user.name }} {{ researcher.user.first_name }}</h2>
            <table class="table table-hover" id="staticPreferencesTable">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Title</th>
                    <th>Semester</th>
                    {% if session.is_admin %}
                        <th>
                            <select class="form-select form-select-sm d-inline" id="yearSelect"
                                    name="yearSelect">
                                {% for config in configurations %}
                                    <option value="{{ config.year }}" {% if config.year == current_year %}
                                            selected {% endif %}
                                            data-redirect="{{ url_for('user.preferences', user_id=researcher.user.id,
                                            current_year=config.year) }}">
                                        {{ config.year }}-{{ config.year + 1 }}
                                    </option>
                                {% endfor %}
                            </select>
                        </th>
                {% endif %}
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for preference in preferences %}
                    <tr>
                        <td>{{ preference.course.code }}</td>
                        <td>{{ preference.course.title }}</td>
                        <td>{{ preference.course.quadri }}</td>
                        <td>
                            {% if not session.is_admin %}
                                <a href="{{ url_for('course_preference.delete_preference', preference=preference.id) }}"
                                   class="delete-icon">
                                    <i class="fas fa-trash delete-icon"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <table class="table table-hover" id="editablePreferencesTable" style="display: none;">
                <thead>
                <tr>
                    <th colspan="2">Code</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for preference in preferences %}
                    <tr>
                        <td>
                            <select class="form-control course-select">
                                {% for course in courses %}
                                    <option value="{{ course.id }}-{{ course.year }}"
                                            {% if course.id == preference.course.id %}selected{% endif %}>
                                        {{ course.code }} - {{ course.title }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <i class="fas fa-trash delete-icon"></i>
                            <i class="fas fa-arrows-alt move-icon"></i>
                        </td>
                    </tr>
                {% endfor %}

                <!-- Hidden row template -->
                <tr id="template-row" style="display: none;">
                    <td>
                        <select class="form-control course-select">
                            {% for course in courses %}
                                <option value="{{ course.id }}">
                                    {{ course.code }} - {{ course.title }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <i class="fas fa-trash delete-icon"></i>
                        <i class="fas fa-arrows-alt move-icon"></i>
                    </td>
                </tr>
                </tbody>
            </table>

            {% if not session.is_admin %}
                <button type="button" id="addPreferencesButton" class="btn btn-primary">Edit Preferences
                </button>
            {% endif %}
            <button type="button" id="savePreferencesButton" class="btn btn-success"
                    style="display: none;">
                Save Preferences
            </button>
            <button type="button" id="cancelEditButton" class="btn btn-secondary"
                    style="display: none;">
                Cancel
            </button>
            <button type="button" id="addRowButton" class="btn btn-primary" style="display: none;">
                Add Row
            </button>
        </form>
    </div>
{% endblock %}

{% block additionalfooter %}
    <script>
        $(document).ready(function () {
            // Handle year select change
            handleYearSelectChange();

            let toastNotification = new bootstrap.Toast(document.getElementById('toast-notification'));

            //Handle preferences
            $('#addPreferencesButton').click(function () {
                $('#staticPreferencesTable').hide();
                $('#editablePreferencesTable').show();
                $('#addPreferencesButton').hide();
                $('#savePreferencesButton').show();
                $('#cancelEditButton').show();
                $('#addRowButton').show();
            });

            $('#cancelEditButton').click(function () {
                $('#editablePreferencesTable').hide();
                $('#staticPreferencesTable').show();
                $('#addPreferencesButton').show();
                $('#savePreferencesButton').hide();
                $('#cancelEditButton').hide();
                $('#addRowButton').hide();
            });

            $('#addRowButton').click(function () {
                const newRow = $('#template-row').clone().removeAttr('id').removeAttr('style');
                $('#editablePreferencesTable tbody').append(newRow);

                $("#editablePreferencesTable tbody").sortable({
                    items: 'tr',
                    handle: '.move-icon',
                    axis: 'y',
                    cursor: 'move'
                });
            });

            // Event listener pour le bouton de suppression
            $(document).on('click', '.delete-icon', function () {
                $(this).closest('tr').remove();
            });

            $('#savePreferencesButton').click(function () {
                const preferences = [];
                !$('#editablePreferencesTable tbody tr').not('#template-row').each(function () {
                    const courseId = $(this).find('select.course-select').val();

                    if (courseId) {
                        preferences.push({course_id: courseId});
                    }
                });

                const data = {
                    preferences: preferences,
                };

                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('course_preference.save_preference') }}",
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        alert('Preferences updated successfully.');
                        location.reload(); // Refresh the page to show the updated preferences
                    },
                    error: function (error) {
                        const errorMessage = error.responseJSON.error || 'Error updating the preferences.'
                        updateToastContent(errorMessage);
                        toastNotification.show();
                    }
                });
            });

            $("#editablePreferencesTable tbody").sortable({
                items: 'tr',
                handle: '.move-icon',
                axis: 'y',
                cursor: 'move'
            });
        });
    </script>
{% endblock %}