{% extends "layout.html" %}
{% block pagetitle %}List of Users{% endblock %}
{% block pagecontent %}
    <div class="container">
        <hr>
        <h2>List of Users</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Organization Code</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr onclick="window.location='{{ url_for("user.user_profile", user_id=user.id) }}';" style="cursor:pointer;">
                    <td>{{ user.name }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.email }}</td>
                    <td><span class="badge bg-primary">{{ user.organization.name }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}