{% extends "layout.html" %}
{% block pagetitle %}List of Users{% endblock %}
{% block additionalpageheader %}
    <script>
        $(document).ready(function () {
            var errorPopup = $('#errorPopup');

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            $('#errorMessage').text('{{ message }}');
                            errorPopup.modal('show');
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}

            $('#okButton').click(function () {
                errorPopup.modal('hide');
            });
        });
    </script>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
{% endblock %}
{% block pagecontent %}
    <div class="container">
        <h2>List of Users</h2>
        <hr>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Organization Code</th>
                {% if user_type == 'researcher' %}
                    <th>Status</th>
                    <th>Max load</th>
                {% endif %}
                {% if user_type == 'archived' %}
                    <th>Type</th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ url_for("user.user_profile", user_id=user.id, current_year=dynamic_year) }}">
                        {{ user.name }}
                    </a></td>
                   <td><a href="{{ url_for("user.user_profile", user_id=user.id, current_year=dynamic_year) }}">
                        {{ user.first_name }}
                    </a></td>
                    <td>{{ user.email }}</td>
                    <td><span class="badge bg-primary">{{ user.organization.name }}</span></td>
                    {% if user_type == 'researcher' %}
                        <td>{{ user.user_researcher.researcher_type }}</td>
                        <td>{{ user.user_researcher.max_loads }}</td>
                        <td></td>
                    {% endif %}
                    {% if user_type == 'archived' %}
                        {% if user.is_teacher %}
                            <td>Teacher</td>
                        {% else %}
                            <td>{{ user.user_researcher.researcher_type }}</td>
                        {% endif %}
                        <td>
                            <a href="{{ url_for('user.enable', user_id=user.id) }}"
                               class="restore-icon">
                                <i class="fas fa-trash-restore restore-icon"></i>
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{{ url_for('user.disable', user_id=user.id, user_type=user_type) }}"
                               class="delete-icon">
                                <i class="fas fa-trash delete-icon"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="errorPopup" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error</h5>
                    </div>
                    <div class="modal-body">
                        <p id="errorMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="okButton" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}